// Colors
$white: #fff;
$gray-1: #f2f3f5;
$gray-2: #bdc4cc;
$gray-3: #7a8999;
$gray-4: #3d444d;
$gray-5: #0c0e0f;
$black: #000;

// Brand Colors
$brand_colors: (
	"blue"				: #2c4275,
	"light-blue"	: #279dfa,
	"gray"				: $gray-4,
);
@import "../modules/brand-color";

$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;

$base-color: $gray-4;
$highlight: brand-color( "blue" );
$border-color: $gray-2;

// Content
$content-width: 32rem;
$block-margin: 20px;

// Spacing
// Based on the tailwindcss default spacing scale
// https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale
$size-1:  0.25rem;
$size-2:  0.5rem;
$size-3:  0.75rem;
$size-4:  1rem;
$size-5:  1.25rem;
$size-6:  1.5rem;
$size-7:  2rem;
$size-8:  2.5rem;
$size-9:  3rem;
$size-10: 4rem;
$size-11: 5rem;
$size-12: 6rem;
$size-13: 8rem;
$size-14: 10rem;
$size-15: 12rem;
$size-16: 14rem;
$size-17: 16rem;

// Rounding
$rounded-sm: 	0.125rem;

// Grid
$grid: grid;
$grid-width: 900px;
$grid-gap: $font-base;
$base-margin: $text-base;
$wrap-edge: 4vw;
$margin-2x: $base-margin * 2;
$margin-4x: $base-margin * 4;

// Site Header
$logo-height: 42px;
$logo-width: 241px;
$menu-width: $logo-width + $grid-gap;
$persistent-mobile: false; // 49px
$persistent-desktop: false; // 49px

// Shadows
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

// Border Radius
$rounded-full: 9999px;

// Include Media
$breakpoints: (
	"phone"         : 360px,
	"mobile-menu"   : 600px,
	"small"         : 480px,
	"tablet"        : 700px, // required for include-media
	"medium"        : 700px,
	// "desktop"       : $grid-width + $grid-gap, // required for include-media
	"desktop"       : 960px, // required for include-media
	"content-width" : calc( #{$content-width} + #{$grid-gap} ),
);

@import "../modules/helpers";
@import "../vendor/_include-media";
@import "../modules/base-styles";
