@mixin base-style {
	color: $base-color;
	font-family: $font-sans;
	font-size: 100%;
	font-weight: 400;
	line-height: $line-height-body;
}

@mixin wrap {
	max-width: map-get( $breakpoints, 'desktop' );
	margin: 0 auto;
	padding-left: $wrap-edge;
	padding-right: $wrap-edge;
}

@mixin mx-auto {
	margin-left: auto;
	margin-right: auto;
}

/**
 * Heading Mixins inspired by the article at:
 * https://responsivedesign.is/articles/helpful-sass-mixins/
 *
**/
@mixin heading {
	color: inherit;
	font-family: $font-display;
	font-weight: 500;
	letter-spacing: $tracking-tighter;
	margin: 0;
}

@mixin h1 {
	font-size: $text-6xl;
	line-height: $line-height-h1;
}

@mixin h2 {
	font-size: $text-5xl;
	line-height: $line-height-h2;
}

@mixin h3 {
	font-size: $text-4xl;
	line-height: $line-height-h3;
}

@mixin h4 {
	font-size: $text-3xl;
	line-height: $line-height-h4;
}

@mixin h5 {
	font-size: $text-2xl;
	line-height: $line-height-h5;
}

@mixin h6 {
	font-size: $text-xl;
	line-height: $line-height-h6;
}

%transition {
	transition: all 0.1s ease-in-out;
}

%alt_link {
	color: $base-color;
	font-weight: 400;

	&:hover {
		color: $highlight;
		text-decoration: none;
	}
}
